.plantStyle {
    width: 20rem;
    height: 180px;
    background-color: rgb(7, 56, 88);
    border: 2px;
    border-color: white;
    margin: 12px;
    display: inline-block;
    text-align: center;
  }
  
 .GardenTitle{
   position: absolute;
   width: 250.43px;
   height: 66.05px;
   left: 10px;
   top: 60.16px;

   font-size: 38px;
   line-height: 70px;

 }
 

 .GardenText{
    color:black;
 }

 .Input{
     width: 300px;
     height: 30px;
     position: absolute;
      width: 198px;
      height: 43px;
      left: 1140px;
      top: 100.42px;
 }

 .SaveButton{
  background-color:rgba(216, 237, 106, 0.96);
  color:black;
  padding: 8px;
  display: block;
  text-align: center;
  font-size: 13px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  position: absolute;
  width: 100px;
  height: 43px;
  left: 1250px;
  top: 150.42px;
 }

 .UpdateButton{
  background-color: rgba(216, 237, 106, 0.96);
  color: black;
  padding: 8px;
  display: block;
  text-align: center;
  font-size: 13px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  position: absolute;
   width: 100px;
   height: 43px;
   left: 1140px;
   top: 150.42px;

 }

